html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #e0bfe0;
  min-width: 600px;
}

p, h1 {
  text-align: center;
  margin: 0 auto;
}

#top {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  background: #5d4879;
  border-top: 40px solid #8f495b;
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-family: 'Grenze', serif;
  font-size: 3em;
  color: black;
  background: #9effa9;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#top h3 {
  color: black;
  background: #9effa9;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0;
  padding: 10px;
  padding-top: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#content {
  margin-top: 35px;
  font-size: 16pt;
  text-align: center;
}

.changeTriviaDiv {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(253, 253, 130);
  border: 5px solid black;
  max-width: 450px;
  padding: 0;
}

.changeTriviaDiv h4 {
  font-weight: bold;
  font-size: 30pt;
  padding: 5px;
  margin: 0;
}

.changeTriviaButton {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 5px;
}

.inputRow {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.inputRow label {
  margin-right: 10px;
}

.inputRow input {
  width: 35%;
  padding: 5px;
  padding-left: 10px;
}

.item {
  margin: auto;
  max-width: 600px;
  word-wrap: break-word;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f8e3f4;
}

.remove {
  font-size: 14pt;
  margin-top: 10px;
  width: 100px;
  background: yellow;
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid black;
}

.remove:hover{
  background: red;
}

.trivia {
  margin: auto;
  max-width: 450px;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 5px;
  background: #f8e3f4;
}

.triviaNotes {
  border-top: 1px dashed black;
  padding-top: 4px;
  font-size: 12pt;
}

.problemReportImage {
  width: 5%;
  height: auto;
  float: right;
}

#navList {
  padding: 3px 0;
  margin-left: 0;
  margin-bottom: 0;
  font: bold 12px Verdana, sans-serif;
}

#navList li {
  list-style: none;
  display: inline;
  padding: 3px 0.5em;
  margin-left: 50px;
  border: 1px solid black;
  border-bottom: none;
  background: #632149;
  color: lightcoral;
  text-decoration: none;
}

#navList li:hover {
  background: red;
  color: black;
}

#navList li .selected {
  background: red;
  color: black;
}

#options {
  background: #8f495b;
  padding: 20px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10pt
}

#options textarea {
  padding: 5px;
}

#options label {
  background: lightgray;
  font-size: 12pt;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  margin-left: 10px;
}

#options select {
  border: none;
  padding-top: 1px;
  background: lightgray;
}

#status {
  margin-top: 7px;
  font-weight: bold;
}